---
/**
 * This component is a simple bi-fold card that can be used to display information accompanied by an image.
 * @property {string} image - The URL of the image to display.
 * @property {string} alt - The alt text for the image.
 * @property {boolean} reverse - Whether to reverse the order of the image and content.
 * 
*/

const { image, alt, reverse } = Astro.props;
---
<div class="bi-fold grid sm:grid-cols-2">
    <div class=`bi-fold__image border-2 border-red-200 min-h-[200px] ${reverse ? 'sm:order-1' : ''}`>
        <img src={image} alt={alt} />
    </div>
    <div class="bi-fold__content border-2 border-red-200 min-h-[200px]">
        <slot />
    </div>
</div>